/* This will effect everything from 0 to 576px */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font: 1rem/1.5rem 'Open Sans', sans-serif;
    margin:0; 
  
}
.container{
    width: 95%;
  margin:0; 
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
/*--------------------Hero----------------*/
#hero{
    background:url(../image/mobile-image/mobile-bg.jpg) no-repeat; 
    background-size: cover;
    height: 50rem; 

}


.logo{
    padding-top:14rem; 
    
}

#ad{
    background:url(../image/mobile-image/bgAbout.jpg) no-repeat; 
    background-size: cover;
    height: 50rem; 

}

#ad .container{
    background: rgba(0,0,0,.7);
    color: white;
    width: 80%;
    margin: 15rem 0rem 10rem 0rem;
    padding: 1rem;
    text-align: center;
    font-size:1.6302rem; 
    line-height:2.5rem; 
    
}

#ad h1{
    font-weight: 500; 
    font-family:'Times New Roman', Times, serif;
}

#ad h2{
    font-size:1.6302rem;
    font-style:italic; 
    font-weight:500;  
}

strong{
    color:#0070bb; 
}

#ad a{
    text-decoration: none; 
    color:#fff; 
    border: 1px solid #fff; 
    padding:1rem; 
    margin-top:1rem;
    text-transform: uppercase;
    font-style:italic; 
    font-size:0.8778rem; 

}
#ad a:hover{
    background-color:#fff;
    color:#0070bb; 
    transition:0.2s; 

}
/*--------------------End----------------*/

/*--------------------What We Do----------------*/
h3{
    font: 2.508rem 'Times New Roman', Times, serif;
    color:#0070bb; 
    text-transform:uppercase; 
    text-align: center;
    font-weight:800; 

}

p{
   font-size:1.0032rem;
}

.icon{
    display:flex; 
    gap:2rem; 
    margin-top:5rem; 

}

p.center{
    text-align: center;
    margin-top:5rem; 
    padding:0rem 4rem;

}

/*--------------------End----------------*/

/*--------------------Hero Image 2----------------*/
#ad2{
    background:url(../image/mobile-image/ad2mobile-bg.jpg) no-repeat; 
    background-size: cover;
    height: 50rem; 
}

#ad2 .container{
    background: rgba(0,0,0,.7);
    color: white;
    width: 80%;
    margin: 15rem 0rem 13rem 0rem;
    padding: 3rem;
    text-align: center;
    font-size:1.6302rem;
    font-family:'Times New Roman', Times, serif;  
    line-height:2.5rem; 
    
}
/*--------------------End----------------*/

/*--------------------Client List----------------*/
h4{
    font: 2.508rem 'Times New Roman', Times, serif;
    color:#0070bb; 
    font-weight:600; 
    margin-left:3rem; 
}

nav{
    width:100%; 
    display: flex;

}
nav a{
    border: 2px solid #0070bb;  
    text-decoration:none; 
    color:#0070bb; 
    padding:0rem 2.5rem; 
    font-weight:700; 
    text-align:center; 
    font-size:1.5rem; 

}

nav a:nth-child(1){
  padding-top:0.8rem; 
}


nav a:hover{
    background-color:#0070bb;
    color:#fff;
    transition:0.2s; 
}

.grid-container{
    display:grid;
    background-color:#e8f2f8; 
    height:20rem; 
    grid-template-columns: auto auto;
    gap: 6rem; 
    padding-top:3rem;
    padding-left:2rem;
    width:100%; 
    

}

.grid-container img{
    height:74px; 
    
}

.center2{
    text-align:center; 

}
p.bottom{
    color:#282728; 
    padding:1rem; 
    font-style:italic; 
}

.center2 a{
    color:#0070bb;
    border: 2px solid #0070bb; 
    text-decoration: none;
    padding:1rem; 
    font: 0.7524rem 'Open Sans', sans-serif;
    font-weight:800; 

}

.center2 a:hover{
    background-color:#0070bb;
    color:#fff; 
    transition:0.2s; 

}

/*--------------------End----------------*/

/*--------------------Desktop---------------*/

.contact{
    display:none; 
}

.nav2{
    display:none; 
}

.desktop-flex{
    display:none; 

}

.row{
    display:none; 
}
.tablet-h3{
    display:none; 
}

.center-desktop{
    display:none; 
}
.line{
    display:none; 

}
.dot1{
    display:none; 
}

.dot3{
    display:none; 
}
.col-4{
    display:none; 
}
.icon-arrow{
    display:none; 
}

/*--------------------End---------------*/

/*--------------------Tablet---------------*/

.tablet-color{
  display:none;
}
.tablet-icon-1, .tablet-icon-2{
    display:none; 
}

.tablet-icon-3, .tablet-icon-4{
    display:none; 
}
/*--------------------End---------------*/



/* Media Queries */

@media (min-width: 576px) /* for mobile */{
    #hero{
        width:124%; 
    }
    #ad{
        width:124%;  
    }
    #ad2{
        width:124%; 
    }
    .mobile-h3{
        text-transform: none;
        margin-left:10rem; 
    }
    .icon{
       align-items: center;
       padding-right:2rem; 
       width:124%; 
    }
    
    .icon:nth-child(3){
        margin-top:8rem; 
    }
    p.center{
        width:124%; 
    }
    .grid-container{
        width:129.5%; 
    }
    .center2{
        margin-left:8rem; 
    }
}
@media (min-width:768px) /* for tablets */{
    #hero{
        width:100%;  
    }
    .logo img{
        margin-left:2rem; 
    }
#ad{
    width:100%;  
}
#ad2{
    width:100%;  
}
    #ad .container{
        background: rgba(0,0,0,.7);
        width: 70%;
        margin: 15rem 0rem 10rem 0rem;
        padding: 1rem;
        
    }
 p.center{
   display:none; 
 }

 p.center-desktop{
    display:block;
    text-align: center;
    margin-top:2rem; 
    font-size:1rem; 
    font-style: italic;
    line-height:1.5rem; 
    
    
}
 .center2{
    margin-right:11rem; 
}
.mobile-h3{
    display:none; 
}
.tablet-h3{
    display: block;
    text-transform: none;
    padding-top:3rem;
    padding-bottom:3rem;   
}
.icon{
    display:none; 
}
.desktop-h3{
    display:none; 
}
  .tablet-row{
    display:flex; 
    flex-direction: row;
    gap:2rem; 
    text-align:center; 
    align-items: center;
    justify-content: center;

}

.tablet-row p{
    padding-left:2rem; 
}
.tablet-color{
    display:block; 
    background-color: #e8f2f8; 
    height:37rem;
    margin-bottom:3rem;  
    width:100%;  
}
.tablet-icon-1, .tablet-icon-2{
    display:block; 
}

.tablet-icon-3, .tablet-icon-4{
    display:none; 
}

#ad2 .container{
    margin: 15rem 0rem 10rem 0rem;
  width:70%; 
}
nav{
    width:105%;  
}
.grid-container{
    width:105%;   
}
.center2{
    margin-left:8rem; 
}
}
@media (min-width: 992px) /* for laptops */{
    #hero{
        background:url(../image/bgHome.jpg) no-repeat; 
        width:100%;  
    }
    .logo{
        padding-left:7rem; 
    }
    .contact{
        display:block;
        border: 2px solid #000;
        background-color: #000;
        height:3rem; 
        color:#fff; 
        text-align: right;
        padding-right:4rem; 
        margin-top:16rem; 
        width:105.2%; 

    }
    .nav2{
        width:100%; 
        display:flex;
        justify-content:space-around; 
        color:#0070bb; 
        font-weight:700;
        font-size:1.3rem;  
        text-transform: uppercase; 
    }
    .nav2 li{
        list-style-type: none;
        margin-top:3rem; 
    }

    .nav2 a{
        color:#0070bb; 
        text-decoration: none;
    }

    .nav2 a:hover{
        border-bottom: 5px solid #0070bb; 
        transition:0.2s; 
    }
    .nav2 img{
        padding-top:1rem;
        margin-right:5rem;  
    }

    .tablet-color{
        background-color: #e8f2f8; 
        height:40rem; 
        width:100%; 

      }
      .tablet-h3{
          padding-top:2rem; 
          padding-bottom:1rem; 
         text-transform: none; 
      }
      .tablet-row{
        display:flex; 
        flex-direction: row;
        gap:1rem; 
        text-align:center; 
        align-items: center;
    
    }
    .tablet-icon-1, .tablet-icon-2,  .tablet-icon-3,  .tablet-icon-4{
        padding-right:1rem; 
    }

    .tablet-icon-4{
        display:block; 
    }
    .tablet-icon-3{
        display:block; 
    }
    .desktop-h3{
        padding-top:2rem; 
    }
    p.center-desktop{
        display:block;
        text-align: center;
        margin-top:2rem; 
        font-size:1rem; 
        font-style: italic;
        line-height:1.5rem; 
        
    }
    .icon{
        display:none;  
    
    }
    p.center{
        display:none; 
    }

    #line{
        background: url(../image/line.png) no-repeat;
        background-position: center;
        height:10rem;
        width:100%; 
        margin-top:5rem; 
    }
  
    #line .container{
        display:flex;
        gap:4rem;
        padding-left:13rem; 
    }
  
    .text-size{
        font-size: 1.4rem; 
        font-family:'Times New Roman', Times, serif;
        color:#0070bb; 
    }
  
    .dot1{
      display:block;
    }
    .dot3{
        display:block; 
    }
  
    .dot3 a{
      display:block;
      color:#0070bb; 
      text-decoration:none; 
    }
    .dot3 a:hover{
      color:#0070bb; 
      text-decoration:none; 
      font-size:2.4rem;
      transition: 0.5s;  
    }
  
    .col-4{
        display:flex;
        gap:3rem; 
        align-items: center;
        padding-bottom:5rem; 
        
  
    }
  
    .icon-arrow{
      display:block;
        height:2rem;
   
    }

    #ad{
        background:url(../image/bgAbout.jpg) no-repeat;
        width:100%;  
        margin-top:5rem;  
        height:35rem;
    }

    #ad .container{
        margin-left:28rem; 
        height:25rem; 
        position:absolute; 
        top:70%; 
        width:50%; 
        
    }
    .desktop-flex{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:1rem;
    }
    .desktop-flex img{
       height:35rem; 
    }
    .desktop-flex h5{ 
        font: 2.4rem 'Times New Roman', Times, serif;
    color:#0070bb; 
    font-weight:600; 
        text-align: left;
        margin:0; 
        padding:1rem 0rem; 

    }
      .text {
        text-align: left;
        margin:0; 
      }


    #ad2{
       background:url(../image/bgAbout2.jpg) no-repeat;
       width:100%; 
       height:35rem;  
    }

    #ad2 .container{ 
        margin-left:28rem; 
        height:25rem; 
        position:absolute; 
        top:195rem; 
        width:50%;
    }

    .grid-container{
        width:100%; 
    }

    nav{ 
        display: flex;
        gap:1rem;
    
    }
    nav a{
        border: 2px solid #0070bb;  
        text-decoration:none; 
        color:#0070bb; 
        padding:0rem 4rem; 
        font-weight:700; 
        text-align:center; 
        font-size: 1.4rem;
        margin-bottom:2rem; 
        margin-left:0.5rem; 
    }
    
    .grid-container{
        display:grid;
        background-color:#e8f2f8; 
        height:15rem; 
        grid-template-columns: auto auto auto auto auto auto;
        gap: 2rem; 
        padding-top:6rem;
        padding-left:1rem;
        width:105%;   
    
    }

    .grid-container img{
        height:55px;
        
    }

    p.bottom{
        color:#282728; 
        font-size:1.2rem; 
        margin-left:2rem; 
        font-style:italic; 
    }
    .center2{
        text-align:center; 
        display:flex; 
        align-items: center;
        justify-content: center;
        width:75%; 
    
    }
    
    .center2 a{
        color:#0070bb;
        border: 1px solid #0070bb; 
        text-decoration: none;
        padding:1rem; 
        font: 1rem 'Open Sans', sans-serif;
        font-weight:800; 
    
    }
    
    }
@media (min-width: 1200px) /* for large devices */{
    .logo{
        padding-left:13rem; 
    }
    #line .container{
        display:flex;
        gap:4rem;
        padding-left:17rem; 
    }

    #ad2 .container{ 
        margin-left:28rem; 
        height:25rem; 
        position:absolute; 
        top:190rem; 
        width:50%;
    }
    #line .container{
        padding-left:20rem; 
    }
nav a{
    padding-top:1rem; 
    padding-bottom:1rem; 
    margin-left:0.5rem; 
}


}